.vscode

# LaTeX temporary and auxiliary files
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.log
*.nav
*.out
*.snm
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.vrb
*.dvi
*.ps
*.lof
*.lot
*.run.xml
*.spl
*.bpt
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.acn
*.acr
*.alg
*.ato
*.auxlock
*.bak
*.base
*.bbl
*.bib.bak
*.blg
*.cb
*.cbl
*.dvi
*.ent
*.fmt
*.gz
*.hd
*.idx
*.ilg
*.ind
*.ist
*.ltx
*.mlf
*.mli
*.nav
*.nlo
*.nls
*.nomencl
*.out
*.pdf.bak
*.pgf
*.pre
*.snm
*.spt
*.sta
*.sty.bak
*.tex.bak
*.thm
*.tmp
*.tps
*.upa
*.upb
*.xdv