/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*===== VARIABLES CSS =====*/
:root {
    --header-height: 3rem;

    /*===== Colores =====*/
    --first-color: #4271ff;
    --dark-color: #ffffff;
    --dark-color-alt: #e1e1e1;
    --white-color: #000000;
    --footer-color: #000000;
    --footer-text-colot: #ffffff;

    /*===== Fuente y tipografia =====*/
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: 14px;
    --small-font-size: 13px;

    /*===== z index =====*/
    --z-fixed: 100;
}
html {
    scroll-behavior: smooth;
    user-select: none;
  }

@media screen and (min-width: 768px) {
    :root {
        --normal-font-size: 14px;
        --small-font-size: 12px;
    }
}

/*===== BASE =====*/
*,
::before,
::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth !important;
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--dark-color);
    color: var(--white-color);
    overflow-x: hidden;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bd-grid {
    max-width: 1024px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/*===== HEADER =====*/
.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 1.5rem;
    background-color: var(--dark-color);
    z-index: var(--z-fixed);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    color: var(--white-color);
}

.header__toggle {
    font-size: 1.5rem;
    color: var(--white-color);
    cursor: pointer;
}

/*===== NAV =====*/
@media screen and (max-width: 768px) {
    .nav {
        position: fixed;
        top: 0;
        left: -100%;
        background-color: var(--dark-color);
        color: var(--white-color);
        width: 100%;
        height: 100vh;
        padding: 1.5rem 0;
        z-index: var(--z-fixed);
        -webkit-transition: .5s;
        transition: .5s;
    }
}

.nav__content {
    height: 100%;
    -ms-grid-rows: max-content 1fr max-content;
    grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
    grid-template-rows: max-content 1fr max-content;
    row-gap: 2rem;
}

.nav__close {
    position: absolute;
    right: 1.5rem;
    font-size: 1.3rem;
    padding: .25rem;
    background-color: var(--dark-color-alt);
    border-radius: 50%;
    cursor: pointer;
}

.nav__img {
    justify-content: center;
    padding-top: .25rem;
    margin-bottom: .8rem;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
}

.nav__img img {
    width: 46px;
}

.nav__name {
    display: block;
    color: var(--white-color);
}

.nav__profesion {
    font-size: var(--small-font-size);
}

.nav__menu {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.nav__item {
    margin: 2.5rem 0;
}

.nav__link {
    color: var(--white-color);
}

.nav__social {
    padding-top: .5rem;
}

.nav__social-icon {
    font-size: 1.2rem;
    color: var(--white-color);
    margin-right: 1rem;
}

.nav__social-icon:hover {
    color: var(--first-color);
}

/*Aparecer menu*/
.show {
    left: 0;
}

/*Active menu*/
.active {
    color: var(--first-color);
}

/*===== MEDIA QUERIES =====*/
@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }

    .header {
        height: calc(var(--header-height) + 1rem);
    }

    .header__logo,
    .header__toggle {
        display: none;
    }

    .nav {
        width: 100%;
    }

    .nav__content {

        grid-template-columns: repeat(3, -webkit-max-content);
        grid-template-columns: repeat(3, max-content);
        grid-template-rows: 1fr;
        column-gap: 1rem;
        justify-content: space-between;
    }

    .nav__close,
    .nav__profesion {
        display: none;
    }

    .nav__perfil {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .nav__img {
        width: 32px;
        height: 32px;
        margin-right: .5rem;
        margin-bottom: 0;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .nav__img img {
        width: 26px;
    }

    .nav__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .nav__item {
        margin: 0 .25rem;
    }

    .nav__link {
        padding: .5rem .8rem;
        border-radius: .25rem;
    }

    .nav__link:hover {
        color: var(--first-color);
    }

    .active {
        color: var(--first-color);
    }
}

@media screen and (min-width: 1024px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
}



//body design start

.main {
    padding-top: 4rem;
    width: 100vw;
    margin-top: var(--header-height);

    .homecontaint {
        h4 {
            font-weight: 500;
            font-size: 1.2rem;

            span {
                color: var(--first-color);
                text-decoration: underline;
            }
        }

        img {
            max-width: 200px;
            width: 40%;
            min-width: 100px;
        }
    }

}


.static {
    width: 100vw;
    padding: .5rem;
    margin-top: 4.5rem;

    .row {
        justify-content: space-evenly;
    }

    .items {
        background-color: var(--dark-color);
        box-shadow: 3px 3px 10px #101112a3;
        margin: .5rem .5rem;
        padding: 1rem 2rem;
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 350px;
        min-width: 200px;
        border-radius: 5px;

        img {
            width: 60px;
            height: 60px;
            margin-right: 1rem;
        }

        h4 {
            color: var(--first-color);
            font-size: 2rem;
            padding: 0;
            margin: 0;
        }

        p {
            padding: 0;
            margin: 0;
        }
    }
}


.aboutme {
    padding: 1rem;
    padding-top: 7rem;

    .row {
        justify-content: space-evenly;
    }

    .section {
        width: 50%;

        img {
            width: 100%;
        }

        .who {
            border-radius: 20px;
            background-color: var(--dark-color-alt);
            color: var(--first-color);
            text-transform: uppercase;
            width: fit-content;
            padding: .3rem 1rem;
        }

        a {
            border-radius: 20px;
            margin-top: 3rem;
            background-color: var(--first-color);
            color: var(--dark-color);
            text-decoration: none;
            display: block;
            width: fit-content;
            padding: .5rem 2rem;
            font-weight: bold;
        }
        p{
            span{
                color: var(--first-color);
            }
        }
    }

    .s_image {
        width: 40%;

        .row {
            justify-content: center;

            .skils {
                padding: 1rem;
                margin: .5rem;
                background-color: var(--dark-color-alt);
                border-radius: 10px;

                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }

}

@media screen and (max-width: 720px) {
    .aboutme {
        .section {
            width: 100%;
        }

        .s_image {
            width: 100%;
        }
    }

    .skills {
        .s_image {
            margin-top: 2rem;
        }
    }
}

.contain2 {
    padding: 1rem;
    padding-top: 8rem;

    .who {
        border-radius: 20px;
        background-color: var(--dark-color-alt);
        color: var(--first-color);
        text-transform: uppercase;
        width: fit-content;
        padding: .3rem 1rem;
    }

}

.works {
    .row1 {
        column-count: 3;
        column-gap: 1rem;
        width: 90%;
        max-width: 800px;
    }

    .image {
        border: 10px;
    }

    @media screen and (max-width: 720px) {
        .row1 {
            columns: 2;
        }
    }
}

.testimoni {
    width: 80%;
    margin: 0 auto;
    .swiper {
        width: 100%;
        height: 100%;
        overflow-y: unset;
    }
    .swiper-pagination{
        z-index: 10 !important;
        position: initial !important;
        .swiper-pagination-bullet{
            background-color: var(--first-color) !important;
            padding: 3px .5rem !important;
            border-radius: 20px;
        }
    }


    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 1rem;
        min-width: 200px;
        .itemsslid {
            overflow: hidden;
            .rating {
                color: var(--first-color);
            }

            p {
                font-size: 13px;
                color: var(--dark-color);
            }

            .itemrow {
                display: flex;
                align-items: center;
                justify-content: left;
                text-align: left;
                width: 100%;

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    margin-right: .4rem;
                }

                h4 {
                    color: var(--dark-color);
                    font-size: 14px;
                    padding: 0;
                    margin: 0;
                }

                p {
                    color: gray;
                    padding: 0;
                    margin: 0;
                    font-size: 12px;
                }

                div {
                    height: fit-content;
                }

            }
        }

    }

}


.footer{
    padding-top: 8rem;
    width: 100vw;
    .order{
        background-color: var(--first-color);
        border-radius: 10px;
        align-items: center;
        justify-content: space-around;
        max-width: 700px;
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        z-index: 3;
        position: relative;
        @media screen and (max-width: 550px) {
            flex-direction: column;
        }
        h2{
            color: var(--dark-color);
        }
        p{
            max-width: 200px;
            color: var(--dark-color);
            font-size: 13px;
        }
        a {
            border-radius: 20px;
            border: 2px solid var(--dark-color);
            color: var(--dark-color);
            text-decoration: none;
            display: block;
            width: fit-content;
            padding: .5rem 2rem;
            font-weight: bold;
        }
    }
    .foot{
        background-color: var(--footer-color);
        width: 100%;
        margin-top: -3rem;
        padding: 5rem 1rem;
        .row{
            justify-content: space-evenly;
            .contant3{
                min-width: 200px;
                width: 100%;
                max-width: 00px;
                margin-top: 1rem;
                h4{
                    color: var(--footer-text-colot);
                    font-size: 20px;
                    padding: 0;
                    margin: 0;
                }
                p{
                    color: var(--footer-text-colot);
                    padding: 0;
                    margin: 0;
                }
                ul{
                    .active{
                        color: var(--first-color);
                        font-size: 16px;
                        font-weight: bold;
                        margin-bottom: .5rem;
                    }
                    li{
                        color: var(--footer-text-colot);
                        a{
                            color: var(--footer-text-colot);
                        }
                        a:hover{
                            color: var(--first-color);
                        }
                        .form{
                            background-color: var(--dark-color-alt);
                            border-radius: 30px;
                            display: flex;
                            overflow: hidden;
                            margin-top: .5rem;
                            input{
                                margin-left: 45px;
                                background-color: transparent;
                                padding: .8rem 0;
                                color: var(--first-color);
                                border: none;
                                outline: none;
                            }
                            a{
                                width: 40px;
                                height: 40px;
                                line-height: 40px;
                                background-color: var(--first-color);
                                color: var(--footer-text-colot);
                                border-radius: 50%;
                                border: none;
                                position: absolute;
                                text-align: center;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
                }
            }
        }
    }
}